@model IEnumerable<BanHangOnline.Models.NhaSanXuatViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUOCGIA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUOCGIA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MASX }) |
            @Html.ActionLink("Details", "Details", new { id=item.MASX }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MASX })
        </td>
    </tr>
}

</table>
